
<h1 class="center">All Chats</h1>
<!--<iframe src="<%= new_chat_path %>" width="100%" height="100%"></iframe>-->
<% @chats.each do |chat| %>
<p>
  <hr />
<p><h6><%= chat.name %> said:</h6> <%= chat.message %></p>  
</p>
<hr />
<% end %>
<br>
<p id="notice"><%= notice %></p>

<%= render 'form' %>

<%= link_to 'Post New Message', new_chat_path %>
