<div class="row">
  <h1 class="center">MNR Public Chat</h1>
  <div class="col s6">
<% @chats.each do |chat| %>
<p>
<p><h6><%= chat.name %> said:</h6> <%= chat.message %> at <%= chat.created_at %></p>  
</p>
<hr />
<% end %>    
  </div>
  
  <div class="col s6">

<%= render 'form' %>
<p id="notice"><%= notice %></p>    
  </div>
</div>





<br>

